/* começo da main */

main{
    display: flex;
    flex-direction: column;
    
    gap: 4rem;
}

body{
    min-height: 100vh;
}

/* FIM DA MAIN */

/* section hero */

.hero{
    display: flex;
    flex-direction: column;

    gap: 6rem;
    padding: 0rem 6rem 6rem 6rem;

    background-image: url(../assets/hero.png);
    background-size:100%,100%;
    background-repeat:no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 0rem;

    & nav{
        display: flex;

        gap: 3rem;

        & li{
            font-weight: 700;
            list-style: none;
            color: white;
        }
    }
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 30vw;
    margin: 0 auto;
    gap: 1.5rem;
    
    color: white;
}

/* FIM DA SECTION HERO */

/* section content */

.content{
    display: flex;
    flex-direction: column;
    
    gap: 3rem;
    padding: 0rem 6rem 6rem 6rem;
}

.filter{
    display: flex;
    align-items: center;

    gap: 1.5rem;
}

/*--------------SEGUNDA PARTE--------------*/

.produtos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 1.5rem;
    min-width: 50vw;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    
    align-items: end;
    width: 49%;



    & .sobre{
        display: flex;
        flex-direction: column;

        width: 20vw;

        gap: 1rem;

        & .rodape{
            display: flex;
            justify-content: space-between;

            & .tamanho{
                display: flex;
                gap: 1rem;
            }
        }
    }

    & .produto-img{
        width: fit-content;
        border-radius: 1rem;
    }
}

/* alterações de texto */
.sobre p{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

/* FIM DA SECTION CONTENT */