*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 48px;
    font-weight: 700;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 700;
}

h4{
    font-size: 20px;
    font-weight: 700;
}

h5{
    font-size: 18px;
    font-weight: 700;
}

h6{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-weight: 300;
}

a{
    font-size: 14px;
    font-weight: 300;
}

label{
    font-size: 14px;
    font-weight: 500;
    
}

li{
    font-size: 14px;
    font-weight: 400;
}